src/main/mule/arith-cicd-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e26b2c56-8b5c-4474-9490-47595ab0413d" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="1d008699-7d5e-42e4-bc96-5040a397b438" file="myconfig-Dev.yaml" />
	<flow name="arith-cicd-apiFlow" doc:id="57845aa3-4237-4dc5-ba8f-9157377f8ef1" >
		<http:listener doc:name="Listener" doc:id="91eedeea-990b-480b-9474-a27d2a580933" config-ref="HTTP_Listener_config" path="/arith"/>
		<logger level="INFO" doc:name="FirstLogger" doc:id="556014b1-a81c-4cc8-8648-9f97d7a42e85" message="-----Arithmetic API is Invoked ----"/>
		<set-variable value="#[attributes.queryParams.num1]" doc:name="num_1" doc:id="33643b87-ee4e-4458-882d-85ed5f31ed84" variableName="num1"/>
		<set-variable value="#[attributes.queryParams.num2]" doc:name="num_2" doc:id="f6c20cf2-740d-4ce0-a50b-2d24fed99622" variableName="num2"/>
		<ee:transform doc:name="Transform Message" doc:id="9850668b-02d0-474e-93cb-9d5d13ccdeb1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": p('log.Message'),
	"add": (vars.num1 as Number + vars.num2 as Number),
	"sub": (vars.num1 as Number - vars.num2 as Number),
	"mul": (vars.num1 as Number * vars.num2 as Number),
	"div": (vars.num1 as Number / vars.num2 as Number)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e6dd32a1-8e25-4b23-93e5-5cb5b0dc0fda" message="Arithmetic API completed"/>
	</flow>
</mule>
